/* Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #adf0f7, transparent);
}
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1024px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
/* ======================================
Top Area 
========================================*/
.top-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 22vh;
  margin-top: 28px;
}
.top-title {
  flex: 0 0 60%;
}
.top-title h1 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.62px;
}
.top-content {
  flex: 0 0 40%;
}
.top-content h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.top-content p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* =======================================
Main Area 
=========================================*/
img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s ease;
  border-radius: 5px;
}
img:hover {
  opacity: 0.8;
  cursor: pointer;
}
.member-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 1.5rem;
    height: 76rem;
}
.member-2 {
    align-self: end;
}
.member-1,
.member-2,
.member-3,
.member-4,
.member-5,
.member-6 {
  position: relative;
  max-width: 180px;
  width: 100%;
}
.member-2,
.member-4,
.member-6 {
  align-self: end;
}
.designation {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  width: 130px;
  position: absolute;
  left: 68%;
  top: 57px;
  transform: rotate(90deg);
}
.name {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-top: 25px;
}

/* ===============================================
Footer 
================================================*/
footer {
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
footer p {
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}
footer .username {
    color: #A9A9A9;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

/* Responsive for mobile devices */
@media  screen and (max-width :576px) {
    .top-area {
        flex-direction: column;
        height: auto;
        margin-bottom: 2rem;
    }
    .top-title, .top-content {
        flex: 0 0 100%;
    }
    .top-title {
        margin-bottom: 1.6rem;
    }
    .top-content h3 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

/* Responsive for medium devices only for top */
@media screen and (min-width: 576px) and (max-width:992px) {
    .top-title, .top-content {
        flex: 0 0 50%;
    }
    .top-title h1 {
        font-size: 1.8rem;
    }
}

/* Responsive for lablet devices */
@media screen and (min-width: 768px) {
    .member-area {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.2rem;
        height: 52rem;
    }
    .member-2, .member-5 {
        align-self: end;
    }
    .member-4, .member-6 {
        align-self: start;
    }
    .top-area {
        height: 20vh;
    }
}